<center><table border="1"><tr><td><center><i><b>Used packages</b></i></center></td></tr>
<tr><td>GaudiKernel</td></tr>
<tr><td>GaudiSvc</td></tr>
<tr><td>External/AtlasROOT</td></tr>
<tr><td>External/AtlasCLHEP</td></tr>
<tr><td>External/GaudiInterface</td></tr>
<tr><td>External/AtlasAIDA</td></tr>
<tr><td>AtlasPolicy</td></tr>
<tr><td>Control/CLIDComps</td></tr>
<tr><td>Control/AthLinks</td></tr>
<tr><td>Tracking/TrkDetDescr/TrkSurfaces</td></tr>
<tr><td>Tracking/TrkEvent/TrkParameters</td></tr>
<tr><td>Tracking/TrkExtrapolation/TrkExInterfaces</td></tr>
<tr><td>Tracking/TrkEvent/VxVertex</td></tr>
<tr><td>Reconstruction/Particle</td></tr>
<tr><td>Trigger/TrigT1/TrigT1Interfaces</td></tr>
<tr><td>Trigger/TrigTools/TrigTimeAlgs</td></tr>
<tr><td>Control/StoreGate</td></tr>
<tr><td>InnerDetector/InDetConditions/InDetBeamSpotService</td></tr>
<tr><td>Calorimeter/CaloEvent</td></tr>
<tr><td>Reconstruction/egamma/egammaEvent</td></tr>
<tr><td>Trigger/TrigEvent/TrigCaloEvent</td></tr>
<tr><td>Trigger/TrigEvent/TrigInDetEvent</td></tr>
<tr><td>Trigger/TrigEvent/TrigParticle</td></tr>
<tr><td>Trigger/TrigTools/TrigInDetToolInterfaces</td></tr>
<tr><td>Trigger/TrigEvent/TrigSteeringEvent</td></tr>
<tr><td>Trigger/TrigSteer/TrigInterfaces</td></tr>
</table></center>
